# Ignore the SQLite database file
*.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore editor backups
*~

# Ignore uploads files
uploads

# Ignore rubocop prefs
.rubocop.yml

# Ignore env file
.env
